<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ pagedata.descripton }}">
    <meta name="keywords" content="{{ pagedata.keywords }}">
    <meta name="created" content="{{ pagedata.created_at }}">
    <meta name="author" content="">
    <meta name="csrf-token" content="<?= $_SESSION['csrf_token'] ?? bin2hex(random_bytes(32)) ?>">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <title>{{ settings.systemname }} - {{ pagedata.title }}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        /* Define a transição para a sidebar, se houver */
        .sidebar-transition {
            transition: width 0.3s, transform 0.3s;
        }
    </style>

</head>
{# O 'body' é aberto no sidebar.twig #}