<!-- Content Row -->
<div class="container">
    <div class="row">
        <!-- Acidentes -->
        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header bg-primary text-white">Acidentes</div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if accidentAlerts is not empty %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="accidentsTable">
                            <thead>
                                <tr>
                                    <th>Cidade</th>
                                    <th>Rua</th>
                                    <th>Localização</th>
                                    <th>Data Evento</th>
                                    <th>Nota</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alert in accidentAlerts %}
                                <tr data-uuid="{{ alert.uuid }}">
                                    <td data-toggle="tooltip" title="{{ alert.city }}">{{ alert.city }}</td>
                                    <td data-toggle="tooltip" title="{{ alert.street }}">{{ alert.street }}</td>
                                    <td data-toggle="tooltip" title="Lat: {{ alert.location_x }}, Lon: {{ alert.location_y }}">
                                        <a href="https://www.waze.com/ul?ll={{ alert.location_y }},{{ alert.location_x }}" 
                                           class="btn btn-link" target="_blank">
                                            Ver no Waze
                                        </a>
                                    </td>
                                    <td class="alert-date" data-pubmillis="{{ alert.pubMillis }}" 
                                        data-toggle="tooltip" title="{{ (alert.pubMillis / 1000) | date('d/m/Y H:i:s') }}">
                                        {{ (alert.pubMillis / 1000) | date("d/m/Y H:i:s") }}
                                    </td>
                                    <td>
                                        <span class="badge badge-{{ alert.confidence > 80 ? 'success' : (alert.confidence > 50 ? 'warning' : 'danger') }}">
                                            {{ alert.confidence }}
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#alertModal" 
                                                data-alert='{{ alert|json_encode }}'>
                                            Ver Mais
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p class="text-center">Não há eventos de acidentes registrados no momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Congestionamentos -->
        <div class="col-xl-6 col-lg-6 pt-2">
            <div class="card">
                <div class="card-header bg-warning text-white">Congestionamentos</div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if jamAlerts is not empty %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="trafficTable">
                            <thead>
                                <tr>
                                    <th>Cidade</th>
                                    <th>Rua</th>
                                    <th>Localização</th>
                                    <th>Data Evento</th>
                                    <th>Intensidade</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alerts in jamAlerts %}
                                <tr data-uuid="{{ alert.uuid }}">
                                    <td data-toggle="tooltip" title="{{ alerts.city }}">{{ alerts.city }}</td>
                                    <td data-toggle="tooltip" title="{{ alerts.street }}">{{ alerts.street }}</td>
                                    <td data-toggle="tooltip" title="Lat: {{ alerts.location_x }}, Lon: {{ alerts.location_y }}">
                                        <a href="https://www.waze.com/ul?ll={{ alerts.location_y }},{{ alerts.location_x }}" 
                                           class="btn btn-link" target="_blank">
                                            Ver no Waze
                                        </a>
                                    </td>
                                    <td class="alert-date" data-pubmillis="{{ alerts.pubMillis }}" 
                                        data-toggle="tooltip" title="{{ (alerts.pubMillis / 1000) | date('d/m/Y H:i:s') }}">
                                        {{ (alerts.pubMillis / 1000) | date("d/m/Y H:i:s") }}
                                    </td>
                                    <td>
                                        <span class="badge badge-{{ alerts.severity > 80 ? 'danger' : (alerts.severity > 50 ? 'warning' : 'success') }}">
                                            {{ alerts.severity }}
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#alertModal" 
                                                data-alert='{{ alerts|json_encode }}'>
                                            Ver Mais
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p class="text-center">Não há eventos de congestionamentos registrados no momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Detalhes do Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>UUID:</strong> <span id="modal-uuid">N/A</span></p>
                <p><strong>Cidade:</strong> <span id="modal-city">N/A</span></p>
                <p><strong>Via:</strong> <span id="modal-street">N/A</span></p>
                <p id="modal-km-p"><strong>KM:</strong> <span id="modal-via-KM">N/A</span></p>
                <p><strong>Localização:</strong> <span id="modal-location">N/A</span></p>
                <p><strong>Data Recebido:</strong> <span id="modal-date-received">N/A</span></p>
                <p><strong>Confiança:</strong> <span id="modal-confidence">N/A</span></p>
                <p><strong>Tipo:</strong> <span id="modal-type">N/A</span></p>
                <p><strong>Subtipo:</strong> <span id="modal-subtype">N/A</span></p>
                <p><strong>Status:</strong> <span>Ativo</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="confirm-alert" onclick="confirmarAlertaModal('{{ uuid }}', '{{ km }}')">Confirmar Alerta</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Atribuindo o alias DT para DataTable
        var DT = $.fn.dataTable;

        // Inicializar DataTables apenas se ainda não estiverem inicializados
        if (!DT.isDataTable('#accidentsTable')) {
            $('#accidentsTable').DataTable({
                responsive: true,
                autoWidth: false,
                paging: true,
                searching: true,
                info: true,
                language: {
                    search: "Buscar:",
                    paginate: {
                        next: "Próximo",
                        previous: "Anterior",
                    },
                },
            });
        }

        if (!DT.isDataTable('#trafficTable')) {
            $('#trafficTable').DataTable({
                responsive: true,
                autoWidth: false,
                paging: true,
                searching: true,
                info: true,
                language: {
                    search: "Buscar:",
                    paginate: {
                        next: "Próximo",
                        previous: "Anterior",
                    },
                },
            });
        }

        // Verifica se a tabela de congestionamento foi inicializada
        if (!DT.isDataTable('#jamsTable')) {
            $('#jamsTable').DataTable({
                responsive: true,
                autoWidth: false,
                paging: true,
                searching: true,
                info: true,
                language: {
                    search: "Buscar:",
                    paginate: {
                        next: "Próximo",
                        previous: "Anterior",
                    },
                },
            });
        }

        // Inicializa os tooltips
        $('[data-toggle="tooltip"]').tooltip();

        // Certifique-se de inicializar os tooltips depois que o conteúdo dinâmico for carregado
        setTimeout(function() {
            $('[data-toggle="tooltip"]').tooltip('update');
        }, 1000); // Espera um tempo antes de atualizar os tooltips

        // Evento para abrir o modal e carregar os dados do alerta
        $('#alertModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); // Elemento que acionou o modal
            var alertData = button.data('alert'); // Dados do alerta passados no botão

            if (!alertData) {
                console.error("Erro: Não foi possível obter os dados do alerta.");
                return;
            }

            var modal = $(this);
            modal.find('#modal-uuid').text(alertData.uuid || 'N/A');
            modal.find('#modal-city').text(alertData.city || 'N/A');
            modal.find('#modal-street').text(alertData.street || 'N/A');
            modal.find('#modal-location').text(`Lat: ${alertData.location_x || 'N/A'}, Lon: ${alertData.location_y || 'N/A'}`);
            modal.find('#modal-date-received').text(new Date(alertData.pubMillis).toLocaleString() || 'N/A');
            modal.find('#modal-confidence').text(alertData.confidence || 'N/A');
            modal.find('#modal-type').text('Alerta');
            modal.find('#modal-subtype').text('N/A');

            // Define o status do alerta
            var status = alertData.status === 1 ? 'Ativo' : (alertData.status === 0 ? 'Inativo' : 'N/A');
            modal.find('#modal-status').text(status);

        });
    });
</script>


    