<div class="modal fade" id="alertModal{{ alert.uuid }}" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalhes do Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>UUID:</strong> {{ alert.uuid }}</p>
                <p><strong>Cidade:</strong> {{ alert.city }}</p>
                <p><strong>Rua:</strong> {{ alert.street }}</p>
                <p><strong>Localização:</strong> Lat: {{ alert.location_y }}, Lon: {{ alert.location_x }}</p>
                <p><strong>Data Recebido:</strong> {{ (alert.pubMillis / 1000) | date("d/m/Y H:i:s") }}</p>
                <p><strong>Confiança:</strong> {{ alert.confidence }}</p>
                <p><strong>Tipo:</strong> {{ alert.type }}</p>
                <p><strong>Subtipo:</strong> {{ alert.subtype }}</p>
                <p><strong>Status:</strong> {{ alert.status == "1" ? "Ativo" : "Inativo" }}</p>
                <p><strong>KM Estimado:</strong> <span id="km-value-{{ alert.uuid }}">Buscando...</span></p>

                <div id="map-{{ alert.uuid }}" style="height: 300px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
